.illustration-intro-text {
    width: calc(100vw - 50px);
}

.illustration-intro-text_alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .illustration-intro-text_alignment {
        flex-direction: row;
        gap: 2rem;

        p {
            width: 50%;
        }
    }
}

@media screen and (min-width: 1170px) {
    .illustration-intro-text {
        width: 1100px;
    }
}