.landing-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image:
        linear-gradient(0deg, var(--color-surface) 10%, var(--color-clear) 60%),
        url("../assets/floral-wallpaper.webp");
    background-size: cover;
    padding: 20px;
    padding-top: 0;
}

.landing-banner > h1 {
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    text-shadow: 0 3px 5px var(--color-shadow);
    text-transform: uppercase;
    white-space: nowrap;
}

.landing-banner > h2 {
    font-size: 2.2rem;
    text-shadow: 0 3px 5px var(--color-shadow);
}

.landing-banner_break-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.landing-banner_avatar {
    border: 1px solid var(--color-body);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 10px var(--color-surface);
    margin-top: 20px;
    transition: all 0.3s ease;
    margin-bottom: 100px;
}

.landing-banner_text-alignment {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.landing-navigation > nav {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: calc(100% - 40px);
    border-radius: 20px;
    overflow: hidden;
}

.landing-navigation_frontend-banner,
.landing-navigation_illustration-banner {
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 1px 2px var(--color-surface);
    transition: all 0.3s ease;
}

.landing-navigation_frontend-banner {
    background-image: url("../assets/code-stock-image.webp");
}

.landing-navigation_illustration-banner {
    background-image: url("../assets/art-collage-slanted.webp");
}

.landing-navigation_frontend-banner:hover,
.landing-navigation_frontend-banner:focus,
.landing-navigation_illustration-banner:hover,
.landing-navigation_illustration-banner:focus {
    filter: none;
    transform: scale(1.02);
    z-index: 1;
    box-shadow: 0px 0px 50px var(--color-shadow);
}

.frontend-preview {
    position: relative;
    padding: 20px;
    border-top: 2px dashed var(--color-theme-transparent);
}

.illustration-preview {
    position: relative;
    padding: 20px;
    border-top: 2px dashed var(--color-theme-transparent);
}

footer {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-theme-transparent);
}

.discord-username {
    cursor: pointer;
}

.discord-username:focus,
.discord-username:hover {
    color: var(--color-theme);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .landing-banner {
        padding-top: 100px;
    }

    .landing-banner > h1 {
        top: 200px;
        font-size: 3rem;
        flex-direction: row;
        gap: 300px;
    }

    .landing-banner_break-heading {
        flex-direction: column;
    }

    .landing-banner_avatar {
        margin-bottom: 10px;
        width: 250px;
        height: 250px;
    }

    .landing-banner_text-alignment {
        flex-direction: row;

        p {
            width: 50%;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .landing-navigation > nav {
        flex-direction: row;
        overflow: visible;
        border-radius: 0;
    }

    .landing-navigation_frontend-banner,
    .landing-navigation_illustration-banner {
        filter: grayscale(100%);
        height: 500px;
    }

    .frontend-preview_web-project-snapshot {
        filter: blur(0);
    }
}

@media screen and (min-width: 1170px) {
    .landing-banner > h1 {
        display: grid;
        top: 220px;
        gap: 350px;
        grid-template-columns: 1fr 1fr;
    }

    .landing-banner_break-heading {
        justify-content: baseline;
        flex-direction: row;
    }

    .landing-banner_break-heading:first-child {
        justify-content: end;
    }

    footer {
        flex-direction: row;
    }
}