@use "./variables";

body {
    background-color: var(--color-surface);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-body);
    margin: 0;
}

h1 {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p, a {
    color: var(--color-body);
    font-family: var(--font-sans-serif);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-theme);
    text-decoration: underline;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 20px;
    border: 1px solid var(--color-body-transparent);
    border-radius: 40px;
    height: 55px;
    width: calc(100vw - 40px);
    margin-left: 20px;
    margin-right: 20px;
    backdrop-filter: blur(25px);
    background-color: var(--color-theme-dark-transparent);
    box-shadow: 0 5px 5px var(--color-shadow);
    z-index: 3;
    text-shadow: 0 2px 2px var(--color-shadow);

    nav {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        min-width: 100%;
        height: 100%;

        a {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        bottom: 0;
        top: 20px;
        width: 700px;
        height: 75px;
        margin-left: calc(50vw - 350px);
        margin-right: calc(50vw - 350px);

        a {
            font-size: 1.2rem;
        }
    }
}