:root {
    --color-surface: rgb(0,0,0);
    --color-surface-transparent: rgba(0, 0, 0, 0.5);
    --color-body: rgb(200, 200, 200);
    --color-body-transparent: rgba(200, 200, 200, 0.5);
    --color-clear: rgba(0,0,0,0);
    --color-theme: rgb(231, 86, 166);
    --color-theme-transparent: rgba(231, 86, 166, 0.5);

    --font-serif: "Forum", serif;
    --font-sans-serif: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
}

h1 {
    text-transform: uppercase;
}