.scrolling-art-gallery {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    max-width: 100vw;
    overflow: hidden;

    &_track {
        display: flex;
        animation: scroll 60s linear infinite;
    }

    img {
        width: 20vw;
        height: 40vw;
        object-fit: cover;
        box-shadow: -5px 0 15px var(--color-shadow);
    }
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); } // -50% because content is duplicated
}